:root {
    --black1: #242424;
    --black2: #333333;
    --gray1: #dadada;
    --carbon1: #5e6c7e;
    --red1: #ffacac;
    --yellow1: #fff098;
    --gold1: #ffdc21;
    --green1: #a9ff8f;
    --purple1: #a4aeff;

    --popper-theme-background-color: #333333;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--black1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    /* height: 100vh; */
    min-height: 100vh;
}

body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
}
